*.swp
*.swo
*.swn
*.txt
obj
test_bin
python_pkg
python_swig
random_benchmark
test-output.txt
test_results/
index-cauchy/
index-tow/
src/examples/glove/glove
src/examples/glove/dataset
src/python/test/.cache
src/python/test/__pycache__
build
*.dSYM/*
*/.DS_Store
#
/cmake-*
/.idea
/falconn
/falconn-l1
/falconn-indexing-*
/falconn.txt
/falconn_tow.txt
falconn-axequaltoy
debug-axequaltoy
JLT-filter
*.ivecs
*.fvecs
*DS_Store
